/* NavBar styling */
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 10px;
  }
}

/* Hide results table until PQ search performed */
#questionTable {
  visibility: hidden;
}

/* In user's profile page, make Bootstrap alerts and accordion look similar */
.alert-custom {
  background-color: #e7f1ff;
  color: #0c63e4;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
  border: 1px
}

.clear { clear: both; height: 62px; }


/* Animations */


/* Pulse effect around HoC and HoL icons on index page */
#liveCommons {
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 50%;
  animation: pulseCommons 2000ms infinite;
  animation-delay: 2s;
}

@keyframes pulseCommons {
  0% {
    box-shadow: #006548 0 0 0 0;
  }

  75% {
    box-shadow: #ff69b400 0 0 0 16px;
  }
}

#liveLords {
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 50%;
  animation: pulseLords 2000ms infinite;
  animation-delay: 2s;
}

@keyframes pulseLords {
  0% {
    box-shadow: #9D0830 0 0 0 0;
  }

  75% {
    box-shadow: #ff69b400 0 0 0 16px;
  }
}

/* Removes bookmarked question from user's profile page */
@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.bookmarkQuestion {
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}