
{% extends "parlio/layout.html" %}

{% block body %}
  {% load static %}

<div class="container">
  <div class="row">
    <div class="col-2">
      BELL
    </div>
    <div class="col">
      ...
    </div>
    <div class="col-2">
      SWITCH
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h1>Hunting Trophies (Import Prohibition) Bill</h1>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center">
      <h3>Second Reading</h3>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-1">
      ...
    </div>

    <div class="col-4 text-center">
      <img class="profile_picture" src="https://members-api.parliament.uk/api/Members/3960/Thumbnail" alt="alternatetext">
    </div>

    <div class="col-2">
      ...
    </div>
    <div class="col-3 align-items">
      <h4 class="foo ">Henry Smith MP<br>
      Crawley</h4>
    </div>
    <div class="col-2">
      ...
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      12:01
    </div>
    <div class="col">
      ...
    </div>
    <div class="col-2">
      12:05 (Current)
    </div>
  </div>

</div>


{% endblock %}