{% extends "parlio/layout.html" %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-2">
      Bell
    </div>
    <div class="col">
      ...
    </div>
    <div class="col-2">
      Switch
    </div>
  </div>

  <div class="row">
    <div class="col">
      Text 1
    </div>
  </div>

  <div class="row">
    <div class="col">
      Text 2
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      ...
    </div>
    <div class="col-4">
      IMAGE
    </div>
    <div class="col-2">
      ...
    </div>
    <div class="col-4">
      MP INFO
    </div>
    <div class="col-1">
      ...
    </div>
  </div>

 <div class="row">
    <div class="col-2">
      Start
    </div>
    <div class="col">
      ...
    </div>
    <div class="col-2">
      Current
    </div>
  </div>

</div>


{% endblock %}