{% comment %} {% extends "parlio/layout.html" %}

{% block body %}
{% load static %}

<button onclick="updateAnnunciator()">Begin</button>
<h1><marquee id="scrollingText"></marquee></h1>
<h1 id="topic1"></h1><br>
<h1 id="topic2"></h1><br>
<h1 id="speaker"></h1><br>
<h1 id="timeBegan"></h1><br>
<h1> Current Time: <span id="timeCurrent"><span></h1><br>

<script type="text/javascript">

    url = "https://now-api.parliament.uk/api/Message/message/LordsMain/2022-02-09%2019%3A00%3A00"
 // url = "https://now-api.parliament.uk/api/Message/message/LordsMain/current"
    var audio = new Audio('https://now.parliament.uk/dist/newslide-lords.mp3')
    var started = false;

    const topicOnePlaceholder = document.getElementById("topic1")
    const topicTwoPlaceholder = document.getElementById("topic2")
    const speakerPlaceholder = document.getElementById("speaker")
    const timeBeganPlaceholder = document.getElementById("timeBegan")
    const timeCurrentPlaceholder = document.getElementById("timeCurrent")
    const scrollingTextPlaceholder = document.getElementById("scrollingText")

    setInterval(updateAnnunciator, 5000);

    async function updateAnnunciator() {

        started = true;

        var timeCurrent = new Date();
        timeCurrentPlaceholder.innerHTML = timeCurrent.toLocaleTimeString('en-GB', { timeStyle: 'short' });

        const response = await fetch(url);
        const data = await response.json();

        if (data['slides'][0]['type'] == "BlankSlide") {
            topicOnePlaceholder.innerHTML = "The House is adjourned"
        }

        else if (speakerPlaceholder.innerHTML != data['slides'][0]['lines'][3]['member']['nameDisplayAs']) {

            if (started == true) {
                console.log("New speaker");
                audio.play();
            }

            if ((data['scrollingMessages'].length !== 0)) {
                scrollingTextPlaceholder.innerHTML = data['scrollingMessages'][0]['content']
            }

            topicOnePlaceholder.innerHTML = data['slides'][0]['lines'][0]['content']
            topicTwoPlaceholder.innerHTML = topicTwo = data['slides'][0]['lines'][1]['content']
            speakerPlaceholder.innerHTML = data['slides'][0]['lines'][3]['member']['nameDisplayAs']

            currentTime = new Date(data['slides'][0]['speakerTime'])
            timeBeganPlaceholder.innerHTML = currentTime.toLocaleTimeString('en-GB', { timeStyle: 'short' });
        }
    }

</script>
{% endblock %} {% endcomment %}