{% extends "parlio/layout.html" %}

{% block body %}
{% load static %}

<form action="{% url 'question' %}" method="post">
  {% csrf_token %}
  <input type="text" placeholder="Question ID" name="questionId">
  <input type="submit">
<form>

  
    <div class="row">
      <div class="col">
       
{% if results %}

<table class="table text-center align-middle">
  <thead>
    
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Subject</th>
      <th scope="col">Answered</th>
      <th scope="col">Watchlist</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody >
  
    
    {% for result in results %}
    <tr >
      {% for key, value in result.items %}
      <td class="align-middle" >{{value}}</td> 
      {% endfor %}
      
      <td class="align-middle">&#9733;</td>
      <td><button type="button" class="btn btn-primary" data-id="{{result.id}}" onclick="viewQuestion({{result.id}})">View</button></td>
      
      {% endfor %}      
    </tr>
    
  
    
  
   
    
  </tbody>
</table>





</div>
<div class="col">
  <p><b>Answered by: </b><span id="answeredBy"></span></p>
  <p><b>Answered on: </b><span id="date"></span></p>
  <p><span id="answer"></span></p> 
</div>
</div>

{% else %}

No results found

{% endif %}
<script>

  const answeredBy = document.getElementById('answeredBy')
  const date = document.getElementById('date')
  const answer = document.getElementById('answer')

  async function viewQuestion(id) {
    
    alert("ID: " + id)
    foo = document.getElement

   // async function getQuestion() {
        var route = "https://writtenquestions-api.parliament.uk/api/writtenquestions/questions/QUESTION?expandMember=true"
        route = route.replace('QUESTION', id)

        const response = await fetch(route);
        const data = await response.json();

        console.log(data)

        answeredBy.innerHTML = data['value']['answeringMember']['name']
        
       date.innerHTML = data['value']['dateAnswered'].slice(0, 10)
        


        answer.innerHTML = data['value']['answerText']

  };
</script>

{% endblock %}