{% extends "parlio/layout.html" %}

{% load static %}
{% block body %}


<div class="container">
  

  <h4>Notifications</h4>

{% for item in notifications %}
<div class="accordion mb-3" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{item.id}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
        UIN{{item.uIn}} ({{item.heading}}) was answered on {{item.answeredOn}}
      </button>
    </h2>
    <div id="collapse{{item.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div style="padding-bottom: 2rem;">
          {{item.answerText|safe}}
          <button type="button" class="btn btn-danger float-end">Dismiss</button>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}

<br>
<hr>


  <h4>Bookmarked Questions</h4>
  {% for bookmark in bookmarks %}
   <div class="alert alert-custom border" role="alert">
  UIN{{bookmark.uin}} ({{bookmark.heading}})
  <button type="button" class="btn btn-danger float-end ml-2 gwa" style="position: relative; top: -6px;">Remove</button>
  <a class="btn btn-primary float-end "  style="position: relative; top: -6px;"href="https://questions-statements.parliament.uk/written-questions?SearchTerm={{bookmark.uin}}" target="_blank" rel="noopener noreferrer" role="button">View</a>

</div>


<script>

  document.addEventListener("click", myFunction);
  
  function myFunction() {

    const element = event.target;
    if (element.classList.contains('gwa')) {

    alert("Hello! I am an alert box!!");
    
    element.parentElement.remove()
  }
  }
  
  
  
    </script>

{% endfor %}
{% endblock %}



